<div class="c-cta">
  <div class="c-cta__container o-container o-container--narrow">
    <div class="c-cta__text">
      <h3 class="c-cta__heading"><%= current_page.data.cta_heading || "Have an app idea of your own?" %></h3>
      <span class="c-cta__subheading"><%= current_page.data.cta_subheading || "Let's work together" %></span>
    </div>
    <a href="/contact/" class="c-btn c-btn--primary">Contact us</a>
  </div>
</div>