<a href="<%= current_page.data.next_page_url %>" class="c-next-page c-section c-section--maintain-padding">
  <div class="c-next-page__image u-cover" style="background-image: url('<%= current_page.data.next_page_image %>');"></div>
  <div class="o-container o-container--narrow c-next-page__content">
    <p class="c-next-page__label">
      <%= current_page.data.next_page_label || "Next project" %>
    </p>
    <h2 class="c-next-page__heading">
      <%= current_page.data.next_page_heading %>
    </h2>
  </div>
</a>