<h1 class="mb2 mt0">Alexander Haniotis</h1>
<p class="mt0">Designer, startup advisor, soccer connoisseur. Currently <a class="red" href="http://www.volume7.io">@Volume7</a>. Formerly design + engineering <a class="red" href="http://www.affirm.com">@Affirm</a>, <a class="red" href="http://www.shopify.com">@Shopify</a>.</p>