<p>I'm Alexander Haniotis, a Montreal-based designer. I'm currently designing @ <a class="red" href="http://www.volume7.io">Volume7</a></p></p>
<p>Previously, I worked as a designer and engineer for <a class="red" href="http://www.affirm.com">Affirm</a> in San Francisco.</p>
<p>Before that, I was a designer at <a class="red" href="http://www.shopify.com">Shopify</a> where I worked on consumer-facing products.</p>