<h1 class="black mb3 mt0">Alexander Haniotis</h1>
<p class="mt0">Designer, startup advisor, soccer connoisseur. Currently leading design <a class="black no-underline bb b--black-20" href="http://www.volume7.io">@Volume7</a>.</p>
<p>Formerly design + engineering <a class="black no-underline bb b--black-20" href="http://www.affirm.com">@Affirm</a>, <a class="black no-underline bb b--black-20" href="http://www.shopify.com">@Shopify</a>.</p>